h1{
    color: tomato;
    text-align: center;
    text-decoration: underline;

}

p{
     color:red;
    
     text-align: center;
     padding: 20px;
     margin-bottom: 10px;
}
img{
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
}
fieldset{
    background-image: url(../image/Background\ 8.png); 
    background-size: 200px;
}